body {
  background-color: #16302b;
}

h1 {
  color: #fceb8d;
  text-align: center;
}
.maininfo h2 {
  color: #fceb8d;
}

.maininfo p {
  color: #c0e5c8;
}

.formdata h2 {
  color: #fceb8d;
}
.formdata label {
  color: #c0e5c8;
}

nav a {
  color: white;
}
